
<h2>Adminpage</h2>

<h3> List of students: </h3>
    <% @students %>
    <% studentarray = [] %>
    <% @students.each do |student| %>
  <p> <%=  student.email %> </p>
  <% params = ActionController::Parameters.new(email: '#{student.email}')%>
  <%=link_to "make admin", controller: "users", action: "promote_to_admin", email: student.email%>
    <% studentarray<<student %>
    <% end %>
<h3> List of pairs for the day:</h3>
    <% @pairs.shuffle.each do |pair|%>
  <p> <%= pair %><p>
    <% end %>
<h3> Upaired: </h3>
  <p> <%= @unpaired %></p>
<h3> Make a list </h3>

    <%= render "listform" %>
